@model IEnumerable<BTL_Nhom3.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách nhân viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>ID</label>
        </th>
        <th>
            <label>Họ và tên</label>
        </th>
        <th>
            <label>Địa chỉ</label>
        </th>
       
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IDNhanVien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NameNhanVien)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.IDNhanVien }) |
        @Html.ActionLink("Details", "Details", new { id = item.IDNhanVien }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.IDNhanVien })
    </td>
</tr>
}

</table>
